Benchmark/HuggingFace_Data2Text/webnlg17_Pretrained_T5/
Benchmark/HuggingFace_Data2Text/webnlg20_Pretrained_T5/
Benchmark/HuggingFace_Data2Text/e2e_clean_Pretrained_T5/
Benchmark/HuggingFace_Data2Text/DART_Pretrained_T5/

Benchmark/HuggingFace_Data2Text/webnlg_Pretrained_T5/
Benchmark/HuggingFace_Data2Text/webnlg2_Pretrained_T5/
Benchmark/HuggingFace_Data2Text/e2e_Pretrained_T5/
Benchmark/HuggingFace_Data2Text/dart_Pretrained_T5/

Benchmark/HuggingFace_Data2Text_MVP/webnlg17_Pretrained_MVPD2T/
Benchmark/HuggingFace_Data2Text_MVP/webnlg20_Pretrained_MVPD2T/
Benchmark/HuggingFace_Data2Text_MVP/e2e_clean_Pretrained_MVPD2T/
Benchmark/HuggingFace_Data2Text_MVP/DART_Pretrained_MVPD2T/

Benchmark/HuggingFace_Data2Text_MVP/webnlg_Pretrained_MVPD2T/
Benchmark/HuggingFace_Data2Text_MVP/webnlg2_Pretrained_MVPD2T/
Benchmark/HuggingFace_Data2Text_MVP/e2e_Pretrained_MVPD2T/
Benchmark/HuggingFace_Data2Text_MVP/dart_Pretrained_MVPD2T/
