webnlg17-mvp_pred/
webnlg20-mvp_pred/
e2e_clean-mvp_pred/
DART-mvp_pred/
webnlg17-mvp-data-to-text_pred/
webnlg20-mvp-data-to-text_pred/
e2e_clean-mvp-data-to-text_pred/
DART-mvp-data-to-text_pred/
webnlg17-mtl-data-to-text_pred/
webnlg20-mtl-data-to-text_pred/
e2e_clean-mtl-data-to-text_pred/
DART-mtl-data-to-text_pred/

webnlg17-mvp_pred_batch/
webnlg20-mvp_pred_batch/
e2e_clean-mvp_pred_batch/
DART-mvp_pred_batch/

webnlg-mvp-data-to-text_pred/
webnlg2-mvp-data-to-text_pred/
e2e-mvp-data-to-text_pred/
dart-mvp-data-to-text_pred/
